$blue: #0067B8; // default - #007bff // Custom
$indigo: #6610f2; // default - #6610f2
$purple: #6f42c1; // default - #6f42c1
$pink: #e83e8c; // default - #e83e8c
$red: #e12b38; // default - #dc3545 // Custom
$orange: #fd7e14; // default - #fd7e14
$yellow: #fcba1d; // default - #ffc107 // Custom
$green: #2b8338; // default - #28a745 // Custom
$teal: #2cccc3; // default - #20c997 // Custom
$cyan: #17a2b8; // default - #17a2b8

$white: #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000000 !default;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;